---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-photos
  namespace: immich
  labels:
    env: home
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 300Gi

# ---
# apiVersion: 1
# kind: PersistentVolumeClaim
# metadata:
#   name: immich-ml
#   namespace: immich
#   labels:
#     env: home
# spec:
#   storageClassName: longhorn
#   accessModes:
#     - ReadWriteMany
#   resources:
#     requests:
#       storage: 15Gi
