---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  labels:
    env: home
spec:
  interval: 5m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.11.3
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress-nginx
  values:
    controller:
      replicaCount: 1
      hostNetwork: true
      allowSnippetAnnotations: true
      service:
        externalTrafficPolicy: Local

      # service:
      #   enabled: true
      #   type: NodePort
      #   ipFamilyPolicy: SingleStack
      #   ipFamilies:
      #   - IPv4
      #   externalTrafficPolicy: Cluster
      #   nodePorts:
      #     http: 30080
      #     https: 30443

      # opentelemetry:
      #   enabled: true
      # config:
      #   enable-opentelemetry: true
      #   opentelemetry-operation-name: HTTP $request_method $service_name $uri
      #   otlp-collector-host: grafana-alloy.event-tracking.svc
      #   otlp-collector-port: 4317
      #   otel-service-name: kubernetes-ingress
      #   otel-sampler: AlwaysOn
      #   otel-sampler-ratio: 1.0
      #   otel-sampler-parent-based: false
