---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  labels:
    env: home
spec:
  interval: 5m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.11.3
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
      interval: 10m0s
  valuesFrom:
  - name: values-ingress-nginx
    kind: ConfigMap
