---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  labels:
    env: home
spec:
  interval: 5m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.11.3
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress-nginx
  values:
    controller:
      replicaCount: 1
      hostNetwork: true
      allowSnippetAnnotations: true
      service:
        externalTrafficPolicy: Local
