# ---
# apiVersion: helm.toolkit.fluxcd.io/v2beta2
# kind: HelmRelease
# metadata:
#   name: immich
#   namespace: immich
#   labels:
#     env: home
# spec:
#   interval: 1m
#   releaseName: immich
#   chart:
#     spec:
#       chart: immich
#       sourceRef:
#         kind: HelmRepository
#         name: immich
#       reconcileStrategy: ChartVersion
#       version: 0.9.2
#       interval: 10m0s
#   values:
#     env:
#       DB_HOSTNAME: postgresql
#       DB_USERNAME: immich
#       DB_PASSWORD: '~Hed[3!Vxk95N=1vw@'
#       DB_DATABASE_NAME: immich
#       UPLOAD_LOCATION: /usr/src/app/upload/library
#       IMMICH_IGNORE_MOUNT_CHECK_ERRORS: true
#     immich:
#       persistence:
#         library:
#           existingClaim: immich-photos
#         configuration:
#           trash:
#             enabled: true
#             days: 14
#     redis:
#       enabled: true
#       architecture: standalone
#       auth:
#         enabled: false
#     server:
#       enabled: true
#       ingress:
#         main:
#           enabled: false
#           hosts:
#           - host: immich.home.k8s
#     machine-learning:
#       enabled: true
#       persistence:
#         cache:
#           enabled: true
#           size: 10Gi
#           storageClass: longhorn
