---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: data-postgresql-shared-monitoring-grafana
  namespace: monitoring
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: in-cluster-shared
    kind: ClusterSecretStore
  target:
    name: data-postgresql-shared-monitoring-grafana
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: data-postgresql-shared-monitoring-grafana
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
