---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: auth-minio
  namespace: monitoring
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: home-vault
    kind: ClusterSecretStore
  target:
    name: auth-minio
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: home/monitoring/auth-minio
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
