apiVersion: k0s.k0sproject.io/v1beta1
kind: ClusterConfig
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"k0s.k0sproject.io/v1beta1","kind":"ClusterConfig","metadata":{"annotations":{},"creationTimestamp":"2025-05-11T17:12:15Z","generation":2,"name":"k0s","namespace":"kube-system","resourceVersion":"51561847","uid":"2599b7c8-2f29-4b25-a910-fd5b13779052"},"spec":{"extensions":{"helm":{"concurrencyLevel":5},"storage":{"create_default_storage_class":false,"type":"external_storage"}},"network":{"calico":{"flexVolumeDriverPath":"/usr/libexec/k0s/kubelet-plugins/volume/exec/nodeagent~uds","mode":"vxlan","mtu":0,"overlay":"Always","vxlanPort":4789,"vxlanVNI":4096,"wireguard":false},"clusterDomain":"cluster.local","dualStack":{"enabled":false},"kubeProxy":{"iptables":{"minSyncPeriod":"0s","syncPeriod":"0s"},"ipvs":{"minSyncPeriod":"0s","syncPeriod":"0s","tcpFinTimeout":"0s","tcpTimeout":"0s","udpTimeout":"0s"},"metricsBindAddress":"0.0.0.0:10249","mode":"iptables"},"nodeLocalLoadBalancing":{"enabled":true,"envoyProxy":{"apiServerBindPort":7443,"image":{"image":"quay.io/k0sproject/envoy-distroless","version":"v1.30.2"},"konnectivityServerBindPort":7132},"type":"EnvoyProxy"},"podCIDR":"10.244.0.0/16","provider":"calico","serviceCIDR":"10.96.0.0/12"},"workerProfiles":[{"name":"custom-eviction","values":{"evictionHard":{"imagefs.available":"100Gi","memory.available":"500Mi","nodefs.available":"1Gi"},"evictionMinimumReclaim":{"imagefs.available":"2Gi","memory.available":"0Mi","nodefs.available":"500Mi"},"tracing":{"endpoint":"grpc.k8s.iaminyourpc.xyz:443","samplingRatePerMillion":500000}}}]}}
  creationTimestamp: "2025-05-11T17:12:15Z"
  generation: 3
  name: k0s
  namespace: kube-system
  resourceVersion: "51562410"
  uid: 2599b7c8-2f29-4b25-a910-fd5b13779052
spec:
  extensions:
    helm:
      concurrencyLevel: 5
    storage:
      create_default_storage_class: false
      type: external_storage
  network:
    calico:
      flexVolumeDriverPath: /usr/libexec/k0s/kubelet-plugins/volume/exec/nodeagent~uds
      mode: vxlan
      mtu: 0
      overlay: Always
      vxlanPort: 4789
      vxlanVNI: 4096
      wireguard: false
    clusterDomain: cluster.local
    dualStack:
      enabled: false
    kubeProxy:
      iptables:
        minSyncPeriod: 0s
        syncPeriod: 0s
      ipvs:
        minSyncPeriod: 0s
        syncPeriod: 0s
        tcpFinTimeout: 0s
        tcpTimeout: 0s
        udpTimeout: 0s
      metricsBindAddress: 0.0.0.0:10249
      mode: iptables
    nodeLocalLoadBalancing:
      enabled: true
      envoyProxy:
        apiServerBindPort: 7443
        image:
          image: quay.io/k0sproject/envoy-distroless
          version: v1.30.2
        konnectivityServerBindPort: 7132
      type: EnvoyProxy
    podCIDR: 10.244.0.0/16
    provider: calico
    serviceCIDR: 10.96.0.0/12
  workerProfiles:
  - name: custom-eviction
    values:
      evictionHard:
        imagefs.available: 100Gi
        memory.available: 500Mi
        nodefs.available: 1Gi
      evictionMinimumReclaim:
        imagefs.available: 2Gi
        memory.available: 0Mi
        nodefs.available: 500Mi
      tracing:
        endpoint: grpc.k8s.iaminyourpc.xyz:443
        samplingRatePerMillion: 100
