---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    k8s-app: kubernetes-ui
  name: kubernetes-ui
  namespace: kubernetes-ui

---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    k8s-app: kubernetes-ui
  name: kubernetes-ui
  namespace: kubernetes-ui
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    resourceNames: ["kubernetes-ui-key-holder", "kubernetes-ui-certs", "kubernetes-ui-csrf"]
    verbs: ["get", "update", "delete"]
  - apiGroups: [""]
    resources: ["configmaps"]
    resourceNames: ["kubernetes-ui-settings"]
    verbs: ["get", "update"]
  - apiGroups: [""]
    resources: ["services"]
    resourceNames: ["heapster", "dashboard-metrics-scraper"]
    verbs: ["proxy"]
  - apiGroups: [""]
    resources: ["services/proxy"]
    resourceNames: ["heapster", "http:heapster:", "https:heapster:", "dashboard-metrics-scraper", "http:dashboard-metrics-scraper"]
    verbs: ["get"]
---

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    k8s-app: kubernetes-ui
  name: kubernetes-ui
rules:
  - apiGroups: ["metrics.k8s.io"]
    resources: ["pods", "nodes"]
    verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    k8s-app: kubernetes-ui
  name: kubernetes-ui
  namespace: kubernetes-ui
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kubernetes-ui
subjects:
  - kind: ServiceAccount
    name: kubernetes-ui
    namespace: kubernetes-ui

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kubernetes-ui
  namespace: kubernetes-ui
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubernetes-ui
subjects:
  - kind: ServiceAccount
    name: kubernetes-ui
    namespace: kubernetes-ui

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-reader-cluster-role
rules:
- apiGroups: ["*"]
  resources: ["endpoints", "componentstatuses", "events", "limitranges", "namespaces", "nodes", "persistentvolumeclaims", "persistentvolumes", "pods", "pods/log", "podtemplates", "replicationcontrollers", "resourcequotas", "services", "challenges", "orders", "controllerrevisions", "daemonsets", "deployments", "replicasets", "statefulsets", "horizontalpodautoscalers", "cronjobs", "jobs", "certificaterequests", "certificates", "clusterissuers", "issuers", "certificatesigningrequests", "leases", "endpointslices", "events", "helmreleases", "imagepolicies", "imagerepositories", "imageupdateautomations", "istiooperators", "kustomizations", "nodes", "pods", "destinationrules", "envoyfilters", "gateways", "proxyconfigs", "sidecars", "virtualservices", "workloadentries", "workloadgroups", "ingressclasses", "ingresses", "networkpolicies", "runtimeclasses", "alerts", "buckets", "storageclasses" ]
  verbs: ["get", "watch", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: k8s-dashboard
  labels:
    k8s-app: kubernetes-ui
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-reader-cluster-role
subjects:
- kind: ServiceAccount
  name: kubernetes-ui
  namespace: kubernetes-ui
