---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn
  labels:
    env: home
spec:
  interval: 1m
  chart:
    spec:
      chart: longhorn
      version: 1.8.1
      sourceRef:
        kind: HelmRepository
        name: longhorn
      reconcileStrategy: ChartVersion
      interval: 5m0s
  valuesFrom:
  - name: values-longhorn
    kind: ConfigMap
