persistence:
  enabled: true

configuration:
  enabled: true
  templateConfig: |-
    default_config:

    http:
      use_x_forwarded_for: true
      trusted_proxies:
      - 10.0.0.0/8
      - 172.16.0.0/12
      - 192.168.0.0/16
      - 127.0.0.0/8

    frontend:
      themes: !include_dir_merge_named themes

    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml
