githubConfigUrl: "https://github.com/dragon699/home-k8s"
githubConfigSecret: "data-github-actions"
controllerServiceAccount:
  name: gha-runner-scale-set-controller-gha-rs-controller
  namespace: github
