githubConfigUrl: "https://github.com/dragon699/home-k8s"
githubConfigSecret: "data-github-actions"
controllerServiceAccount:
  name: gha-runner-scale-set-controller-gha-rs-controller
  namespace: github

template:
  spec:
    containers:
    - name: runner
      image: ghcr.io/actions/actions-runner:latest
      command: ["/home/runner/run.sh"]
      env:
      - name: DOCKER_HOST
        value: tcp://localhost:2375
      volumeMounts:
      - name: work
        mountPath: /home/runner/_work
      - name: docker-sock
        mountPath: /var/run
    - name: dind
      image: docker:27-dind
      securityContext:
        privileged: true
      args:
      - --host=tcp://0.0.0.0:2375
      - --host=unix:///var/run/docker.sock
      - --tls=false
      env:
      - name: DOCKER_TLS_CERTDIR
        value: ""
      volumeMounts:
      - name: work
        mountPath: /home/runner/_work
      - name: dind-storage
        mountPath: /var/lib/docker
      - name: docker-sock
        mountPath: /var/run
    volumes:
    - name: work
      emptyDir: {}
    - name: dind-storage
      emptyDir: {}
    - name: docker-sock
      emptyDir: {}
