githubConfigUrl: "https://github.com/dragon699/home-k8s"
githubConfigSecret: "data-github-actions"
controllerServiceAccount:
  name: gha-runner-scale-set-controller-gha-rs-controller
  namespace: github

template:
  spec:
    containers:
    - name: runner
      image: ghcr.io/actions/actions-runner:latest
      command: ["/home/runner/run.sh"]
      env:
      - name: DOCKER_HOST
        value: tcp://localhost:2376
      - name: DOCKER_TLS_VERIFY
        value: "1"
      - name: DOCKER_CERT_PATH
        value: /certs/client
      volumeMounts:
      - name: work
        mountPath: /home/runner/_work
      - name: dind-cert
        mountPath: /certs/client
        readOnly: true
    - name: dind
      image: docker:27-dind
      securityContext:
        privileged: true
      env:
      - name: DOCKER_TLS_CERTDIR
        value: /certs
      volumeMounts:
      - name: work
        mountPath: /home/runner/_work
      - name: dind-storage
        mountPath: /var/lib/docker
      - name: dind-cert
        mountPath: /certs/client
    volumes:
    - name: work
      emptyDir: {}
    - name: dind-storage
      emptyDir: {}
    - name: dind-cert
      emptyDir: {}
