---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-initdb
  namespace: immich
  labels:
    env: home
data:
  create-extensions.sql: |
    CREATE EXTENSION IF NOT EXISTS cube;
    CREATE EXTENSION IF NOT EXISTS earthdistance;
    CREATE EXTENSION IF NOT EXISTS vectors;
