---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-tempo
  namespace: monitoring
spec:
  dependsOn:
  - name: minio
  interval: 5m
  chart:
    spec:
      chart: tempo-distributed
      version: 1.40.1
      sourceRef:
        kind: HelmRepository
        name: grafana
      interval: 5m0s
  valuesFrom:
  - name: values-grafana-tempo
    kind: ConfigMap
