---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
  labels:
    env: home
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: 9.0.0
      sourceRef:
        kind: HelmRepository
        name: grafana
      interval: 10m0s
  valuesFrom:
  - name: values-grafana
    kind: ConfigMap
