---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoriametrics
  namespace: monitoring
spec:
  dependsOn:
  - name: minio
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: victoriametrics
  valuesFrom:
  - name: values-victoriametrics
    kind: ConfigMap
