controllers:
  main:
    enabled: true
    type: deployment
    containers:
      main:
        env:
          TZ: Europe/Sofia
        resources:
          requests:
            cpu: 0.1
            memory: 128Mi
          limits:
            cpu: 4
            memory: 4Gi
