replicaCount: 1
deploymentType: deployment

extraVolumes:
  - name: config-krakend
    configMap:
      name: config-krakend

extraVolumeMounts:
  - name: config-krakend
    mountPath: /etc/krakend/custom
    readOnly: true

krakend:
  allInOneImage: false
  configFileSource: "/etc/krakend/custom/config.json"
  partialsDirSource: ""
  settingsDirSource: ""
  templatesDirSource: ""
  partials:
    input_headers.tmpl: |-
      "input_headers": [
        "Content-Type",
        "ClientId"
      ]
    rate_limit_backend.tmpl: |-
      "qos/ratelimit/proxy": {
        "max_rate": 0.5,
        "capacity": 1
      }
    endpoints.tmpl: |-
      [
        {
          "endpoint": "/test",
          "method": "GET",
          "backend": [
              {
                  "method": "GET",
                  "host": [],
                  "url_pattern": "/__debug/roots",
                  "encoding": "json",
                  "deny": [
                      "message"
                  ]
              }
          ],
          "extra_config": {
              "proxy": {
                  "static": {
                      "data": {
                          "collection": [
                              {
                                  "directories": [
                                      "Graceland"
                                  ]
                              }
                          ],
                          "version": "deficient"
                      },
                      "strategy": "always"
                  }
              }
          },
          "output_encoding": "json"
        }
      ]
  settings:
    service.json: |-
      {
        "environment": "PRODUCTION",
        "default_host": "http://localhost:8080",
        "timeout": "3s",
        "cache_ttl": "3s",
        "output_encoding": "json"
      }

service:
  metrics:
    enabled: true
    port: 9100
    targetPort: 9100
