---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
- name: config-grafana-dashboard-kubernetes-view-by-pods
  files:
  - 'dashboards/Kubernetes/View by Pods.json'
