---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-machine-learning
  namespace: immich
  labels:
    app: immich-machine-learning
    env: home
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  progressDeadlineSeconds: 600
  selector:
    matchLabels:
      app: immich-machine-learning
  template:
    metadata:
      labels:
        app: immich-machine-learning
        env: home
    spec:
      serviceAccount: default
      serviceAccountName: default
      automountServiceAccountToken: true
      enableServiceLinks: true
      terminationGracePeriodSeconds: 30
      restartPolicy: Always
      volumes:
      - name: model-cache
        persistentVolumeClaim:
          claimName: immich-machine-learning
      containers:
      - name: immich-server
        image: ghcr.io/immich-app/immich-machine-learning:v2.1.0
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /ping
            port: 3003
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
          timeoutSeconds: 1
        readinessProbe:
          httpGet:
            path: /ping
            port: 3003
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
          timeoutSeconds: 1
        startupProbe:
          httpGet:
            path: /ping
            port: 3003
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
          timeoutSeconds: 1
        ports:
        - containerPort: 3003
        volumeMounts:
        - name: model-cache
          mountPath: /cache
        env:
        - name: UPLOAD_LOCATION
          value: "/usr/src/app/upload/library"
        - name: IMMICH_MACHINE_LEARNING_URL
          value: "http://immich-machine-learning.immich.svc:3003"
        - name: TRANSFORMERS_CACHE
          value: "/cache"
