---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-server-photos
  labels:
    app: immich
    env: home
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /media/martin/photos
    type: Directory
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-server-photos
  namespace: immich
  labels:
    app: immich
    env: home
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Ti
  storageClassName: manual
  volumeName: immich-server-photos

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-machine-learning
  namespace: immich
  labels:
    env: home
spec:
  storageClassName: longhorn
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 32Gi
