---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
  labels:
    env: home
spec:
  interval: 1m
  chart:
    spec:
      chart: cert-manager
      version: 1.17.0
      sourceRef:
        kind: HelmRepository
        name: jetstack
      reconcileStrategy: ChartVersion
      interval: 5m0s
  valuesFrom:
  - name: values-cert-manager
    kind: ConfigMap
