---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich
  namespace: immich
  labels:
    app: immich
    env: home
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich
  template:
    metadata:
      labels:
        app: immich
        env: home
    spec:
      volumes:
      - name: localtime
        hostPath:
          path: /etc/localtime
          type: File
      - name: immich-upload
        persistentVolumeClaim:
          claimName: immich
      containers:
      - name: immich-server
        image: ghcr.io/immich-app/immich-server:v1.132.3
        env:
        - name: UPLOAD_LOCATION
          value: ./library
        - name: REDIS_HOSTNAME
          value: redis.immich.svc
        - name: REDIS_PORT
          value: "6379"
        ports:
        - containerPort: 2283
        initialDelaySeconds: 30
        periodSeconds: 10
        volumeMounts:
        - name: localtime
          mountPath: /etc/localtime
          subPath: localtime
          readOnly: true
        - name: immich-upload
          mountPath: /usr/src/app
          subPath: upload
