---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-server
  namespace: immich
  labels:
    env: home
spec:
  storageClassName: longhorn
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 512Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-machine-learning
  namespace: immich
  labels:
    env: home
spec:
  storageClassName: longhorn
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 32Gi
