replicas: 1

deploymentStrategy:
  type: Recreate

resources:
  requests:
    cpu: 0.1
    memory: 128Mi
  limits:
    cpu: 4
    memory: 3Gi

persistence:
  enabled: false

imageRenderer:
  enabled: true
  image:
    repository: grafana/grafana-image-renderer
    # There's a bug causing Internal 500 error with later versions of image-renderer;
    tag: 3.11.0

envFromSecrets:
- name: data-postgresql-shared-monitoring-grafana
  prefix: pg-grafana-
  optional: false
- name: data-postgresql-shared-teslamate-teslamate
  prefix: pg-teslamate-
  optional: false

admin:
  existingSecret: auth-grafana
  userKey: GRAFANA_ADMIN_USER
  passwordKey: GRAFANA_ADMIN_PASSWORD

grafana.ini:
  server:
    root_url: https://grafana.k8s.iaminyourpc.xyz

  date_formats:
    default_timezone: Europe/Sofia

  log:
    mode: console
    level: warn

  log.frontend:
    instrumentations_tracing_enabled: false

  tracing.opentelemetry.otlp:
    address: grafana-alloy.monitoring.svc:4317
    propagation: w3c

  unified_alerting.screenshots:
    capture: true

  auth.anonymous:
    hide_version: true

  auth:
    login_maximum_lifetime_duration: 3d
    login_maximum_inactive_lifetime_duration: 2h
    login_cookie_name: __Host-grafana_session

  security:
    cookie_secure: true
    cookie_samesite: strict
    content_security_policy: true

  database:
    type: postgres
    host: ${pg-grafana-pgbouncer-host}:${pg-grafana-pgbouncer-port}
    name: ${pg-grafana-dbname}
    user: ${pg-grafana-user}
    password: ${pg-grafana-password}
    ssl_mode: disable

  feature_toggles:
    enable: nestedFolders
    provisioning: true
    kubernetesDashboards: true
    kubernetesClientDashboardsFolders: true
    grafanaAPIServerEnsureKubectlAccess: true

  users:
    viewers_can_edit: true
    default_theme: gloom


# Grafana provisioning
extraVolumes:
- name: datasources
  configMap:
    name: config-grafana-datasources
- name: dashboards
  configMap:
    name: config-grafana-dashboards


# Provisioning: Dashboards

# :Kubernetes
- name: dashboard-kubernetes-cluster
  configMap:
    name: config-grafana-dashboard-kubernetes-cluster
- name: dashboard-kubernetes-view-by-nodes
  configMap:
    name: config-grafana-dashboard-kubernetes-view-by-nodes
- name: dashboard-kubernetes-view-by-apiservers
  configMap:
    name: config-grafana-dashboard-kubernetes-view-by-apiservers
- name: dashboard-kubernetes-view-by-namespace
  configMap:
    name: config-grafana-dashboard-kubernetes-view-by-namespace
- name: dashboard-kubernetes-view-by-pods
  configMap:
    name: config-grafana-dashboard-kubernetes-view-by-pods
- name: dashboard-kubernetes-flux
  configMap:
    name: config-grafana-dashboard-kubernetes-flux
- name: dashboard-kubernetes-longhorn
  configMap:
    name: config-grafana-dashboard-kubernetes-longhorn

# :Machines
- name: dashboard-machines-view-by-node
  configMap:
    name: config-grafana-dashboard-machines-view-by-node

# :Teslamate
- name: dashboard-teslamate-battery-health
  configMap:
    name: config-grafana-dashboard-teslamate-battery-health
- name: dashboard-teslamate-charging-level
  configMap:
    name: config-grafana-dashboard-teslamate-charging-level
- name: dashboard-teslamate-charging-history
  configMap:
    name: config-grafana-dashboard-teslamate-charging-history
- name: dashboard-teslamate-charging-stats
  configMap:
    name: config-grafana-dashboard-teslamate-charging-stats
- name: dashboard-teslamate-system-database
  configMap:
    name: config-grafana-dashboard-teslamate-system-database
- name: dashboard-teslamate-driving-stats
  configMap:
    name: config-grafana-dashboard-teslamate-driving-stats
- name: dashboard-teslamate-driving-history
  configMap:
    name: config-grafana-dashboard-teslamate-driving-history
- name: dashboard-teslamate-driving-efficiency
  configMap:
    name: config-grafana-dashboard-teslamate-driving-efficiency
- name: dashboard-teslamate-places-locations
  configMap:
    name: config-grafana-dashboard-teslamate-places-locations
- name: dashboard-teslamate-mileage-total
  configMap:
    name: config-grafana-dashboard-teslamate-mileage-total
- name: dashboard-teslamate-overview
  configMap:
    name: config-grafana-dashboard-teslamate-overview
- name: dashboard-teslamate-mileage-projected-range
  configMap:
    name: config-grafana-dashboard-teslamate-mileage-projected-range
- name: dashboard-teslamate-lifecycle-states
  configMap:
    name: config-grafana-dashboard-teslamate-lifecycle-states
- name: dashboard-teslamate-lifecycle-stats
  configMap:
    name: config-grafana-dashboard-teslamate-lifecycle-stats
- name: dashboard-teslamate-lifecycle-timeline
  configMap:
    name: config-grafana-dashboard-teslamate-lifecycle-timeline
- name: dashboard-teslamate-places-trip
  configMap:
    name: config-grafana-dashboard-teslamate-places-trip
- name: dashboard-teslamate-system-software-updates
  configMap:
    name: config-grafana-dashboard-teslamate-system-software-updates
- name: dashboard-teslamate-lifecycle-vampire-drain
  configMap:
    name: config-grafana-dashboard-teslamate-lifecycle-vampire-drain
- name: dashboard-teslamate-places-visits
  configMap:
    name: config-grafana-dashboard-teslamate-places-visits
- name: dashboard-teslamate-driving-dutch-tax
  configMap:
    name: config-grafana-dashboard-teslamate-driving-dutch-tax
- name: dashboard-teslamate-charging-details
  configMap:
    name: config-grafana-dashboard-teslamate-charging-details
- name: dashboard-teslamate-driving-details
  configMap:
    name: config-grafana-dashboard-teslamate-driving-details



extraVolumeMounts:
- name: datasources
  mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
  subPath: datasources.yaml
- name: dashboards
  mountPath: /etc/grafana/provisioning/dashboards/dashboards.yaml
  subPath: dashboards.yaml


# Provisioning: Dashboards

# :Kubernetes
- name: dashboard-kubernetes-cluster
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/cluster.json'
  subPath: cluster.json
- name: dashboard-kubernetes-view-by-nodes
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/view-by-nodes.json'
  subPath: view-by-nodes.json
- name: dashboard-kubernetes-view-by-apiservers
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/view-by-apiservers.json'
  subPath: view-by-apiservers.json
- name: dashboard-kubernetes-view-by-namespace
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/view-by-namespace.json'
  subPath: view-by-namespace.json
- name: dashboard-kubernetes-view-by-pods
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/view-by-pods.json'
  subPath: view-by-pods.json
- name: dashboard-kubernetes-flux
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/flux.json'
  subPath: flux.json
- name: dashboard-kubernetes-longhorn
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/longhorn.json'
  subPath: longhorn.json

# :Machines
- name: dashboard-machines-view-by-node
  mountPath: '/var/lib/grafana/dashboards/Machines/view-by-node.json'
  subPath: view-by-node.json

# :Teslamate
- name: dashboard-teslamate-battery-health
  mountPath: '/var/lib/grafana/dashboards/Teslamate/battery-health.json'
  subPath: battery-health.json
- name: dashboard-teslamate-charging-level
  mountPath: '/var/lib/grafana/dashboards/Teslamate/charging-level.json'
  subPath: charging-level.json
- name: dashboard-teslamate-charging-history
  mountPath: '/var/lib/grafana/dashboards/Teslamate/charging-history.json'
  subPath: charging-history.json
- name: dashboard-teslamate-charging-stats
  mountPath: '/var/lib/grafana/dashboards/Teslamate/charging-stats.json'
  subPath: charging-stats.json
- name: dashboard-teslamate-system-database
  mountPath: '/var/lib/grafana/dashboards/Teslamate/system-database.json'
  subPath: system-database.json
- name: dashboard-teslamate-driving-stats
  mountPath: '/var/lib/grafana/dashboards/Teslamate/driving-stats.json'
  subPath: driving-stats.json
- name: dashboard-teslamate-driving-history
  mountPath: '/var/lib/grafana/dashboards/Teslamate/driving-history.json'
  subPath: driving-history.json
- name: dashboard-teslamate-driving-efficiency
  mountPath: '/var/lib/grafana/dashboards/Teslamate/driving-efficiency.json'
  subPath: driving-efficiency.json
- name: dashboard-teslamate-places-locations
  mountPath: '/var/lib/grafana/dashboards/Teslamate/places-locations.json'
  subPath: places-locations.json
- name: dashboard-teslamate-mileage-total
  mountPath: '/var/lib/grafana/dashboards/Teslamate/mileage-total.json'
  subPath: mileage-total.json
- name: dashboard-teslamate-overview
  mountPath: '/var/lib/grafana/dashboards/Teslamate/overview.json'
  subPath: overview.json
- name: dashboard-teslamate-mileage-projected-range
  mountPath: '/var/lib/grafana/dashboards/Teslamate/mileage-projected-range.json'
  subPath: mileage-projected-range.json
- name: dashboard-teslamate-lifecycle-states
  mountPath: '/var/lib/grafana/dashboards/Teslamate/lifecycle-states.json'
  subPath: lifecycle-states.json
- name: dashboard-teslamate-lifecycle-stats
  mountPath: '/var/lib/grafana/dashboards/Teslamate/lifecycle-stats.json'
  subPath: lifecycle-stats.json
- name: dashboard-teslamate-lifecycle-timeline
  mountPath: '/var/lib/grafana/dashboards/Teslamate/lifecycle-timeline.json'
  subPath: lifecycle-timeline.json
- name: dashboard-teslamate-places-trip
  mountPath: '/var/lib/grafana/dashboards/Teslamate/places-trip.json'
  subPath: places-trip.json
- name: dashboard-teslamate-system-software-updates
  mountPath: '/var/lib/grafana/dashboards/Teslamate/system-software-updates.json'
  subPath: system-software-updates.json
- name: dashboard-teslamate-lifecycle-vampire-drain
  mountPath: '/var/lib/grafana/dashboards/Teslamate/lifecycle-vampire-drain.json'
  subPath: lifecycle-vampire-drain.json
- name: dashboard-teslamate-places-visits
  mountPath: '/var/lib/grafana/dashboards/Teslamate/places-visits.json'
  subPath: places-visits.json
- name: dashboard-teslamate-driving-dutch-tax
  mountPath: '/var/lib/grafana/dashboards/Teslamate/driving-dutch-tax.json'
  subPath: driving-dutch-tax.json
- name: dashboard-teslamate-charging-details
  mountPath: '/var/lib/grafana/dashboards/Teslamate/charging-details.json'
  subPath: charging-details.json
- name: dashboard-teslamate-driving-details
  mountPath: '/var/lib/grafana/dashboards/Teslamate/driving-details.json'
  subPath: driving-details.json
