replicas: 1

deploymentStrategy:
  type: Recreate

resources:
  requests:
    cpu: 0.1
    memory: 128Mi
  limits:
    cpu: 4
    memory: 3Gi

persistence:
  enabled: false

imageRenderer:
  enabled: true
  image:
    repository: grafana/grafana-image-renderer
    # There's a bug causing Internal 500 error with later versions of image-renderer;
    tag: 3.11.0

envFromSecrets:
- name: data-postgresql-shared-monitoring-grafana
  prefix: pg-grafana-
  optional: false
- name: data-postgresql-shared-teslamate-teslamate
  prefix: pg-teslamate-
  optional: false

admin:
  existingSecret: auth-grafana
  userKey: GRAFANA_ADMIN_USER
  passwordKey: GRAFANA_ADMIN_PASSWORD

grafana.ini:
  server:
    root_url: https://grafana.k8s.iaminyourpc.xyz

  date_formats:
    default_timezone: Europe/Sofia

  log:
    mode: console
    level: warn

  log.frontend:
    instrumentations_tracing_enabled: false

  unified_alerting.screenshots:
    capture: true

  auth.anonymous:
    hide_version: true

  auth:
    login_maximum_lifetime_duration: 3d
    login_maximum_inactive_lifetime_duration: 2h
    login_cookie_name: __Host-grafana_session

  security:
    cookie_secure: true
    cookie_samesite: strict
    content_security_policy: true

  database:
    type: postgres
    host: ${pg-grafana-pgbouncer-host}:${pg-grafana-pgbouncer-port}
    name: ${pg-grafana-dbname}
    user: ${pg-grafana-user}
    password: ${pg-grafana-password}
    ssl_mode: disable

  feature_toggles:
    enable: nestedFolders
    provisioning: true
    kubernetesDashboards: true
    kubernetesClientDashboardsFolders: true
    grafanaAPIServerEnsureKubectlAccess: true

  users:
    viewers_can_edit: true
    default_theme: gloom


# Grafana provisioning
extraVolumes:
- name: datasources
  configMap:
    name: config-grafana-datasources
- name: dashboards
  configMap:
    name: config-grafana-dashboards


# Provisioning: Dashboards
- name: dashboard-kubernetes-cluster
  configMap:
    name: config-grafana-dashboard-kubernetes-cluster
- name: dashboard-kubernetes-view-by-nodes
  configMap:
    name: config-grafana-dashboard-kubernetes-view-by-nodes
- name: dashboard-kubernetes-view-by-apiservers
  configMap:
    name: config-grafana-dashboard-kubernetes-view-by-apiservers
- name: dashboard-kubernetes-view-by-namespace
  configMap:
    name: config-grafana-dashboard-kubernetes-view-by-namespace
- name: dashboard-kubernetes-view-by-pods
  configMap:
    name: config-grafana-dashboard-kubernetes-view-by-pods

- name: dashboard-machines-view-by-node
  configMap:
    name: config-grafana-dashboard-machines-view-by-node


extraVolumeMounts:
- name: datasources
  mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
  subPath: datasources.yaml
- name: dashboards
  mountPath: /etc/grafana/provisioning/dashboards/dashboards.yaml
  subPath: dashboards.yaml


# Provisioning: Dashboards
- name: dashboard-kubernetes-cluster
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/cluster.json'
  subPath: cluster.json
- name: dashboard-kubernetes-view-by-nodes
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/view-by-nodes.json'
  subPath: view-by-nodes.json
- name: dashboard-kubernetes-view-by-apiservers
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/view-by-apiservers.json'
  subPath: view-by-apiservers.json
- name: dashboard-kubernetes-view-by-namespace
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/view-by-namespace.json'
  subPath: view-by-namespace.json
- name: dashboard-kubernetes-view-by-pods
  mountPath: '/var/lib/grafana/dashboards/Kubernetes/view-by-pods.json'
  subPath: view-by-pods.json

- name: dashboard-machines-view-by-node
  mountPath: '/var/lib/grafana/dashboards/Machines/view-by-node.json'
  subPath: view-by-node.json
