---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: teslamate
  namespace: tesla
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-home
    kubernetes.io/ingress.class: nginx
  labels:
    app: teslamate
    env: home
spec:
  tls:
  - hosts:
    - car.k8s.iaminyourpc.xyz
    secretName: tls-car-k8s-iaminyourpc-xyz
  rules:
  - host: car.k8s.iaminyourpc.xyz
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: teslamate
            port:
              number: 4000
