---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: teslamate
  namespace: tesla
  labels:
    env: home
spec:
  interval: 1m
  releaseName: teslamate
  chart:
    spec:
      chart: teslamate
      sourceRef:
        kind: HelmRepository
        name: egeback
      reconcileStrategy: ChartVersion
      version: 2.0.0
      interval: 10m0s
