---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: teslamate
  namespace: tesla
  labels:
    env: home
spec:
  interval: 1m
  releaseName: teslamate
  chart:
    spec:
      chart: teslamate
      sourceRef:
        kind: HelmRepository
        name: egeback
      reconcileStrategy: ChartVersion
      version: 2.0.0
      interval: 10m0s
  values:
    controllers:
      main:
        containers:
          main:
            image:
              env:
                TZ: UTC+3
                DATABASE_HOST: postgresql.postgresql.svc
                DATABASE_USER: postgres
                DATABASE_PASS: LSwXeNmwyFe5DsZ
                DATABASE_NAME: teslamate
                DISABLE_MQTT: "true"
                # MQTT_HOST: "mosquitto"
                # MQTT_PORT: 1883
                # -- MQTT username
                # MQTT_USERNAME:
                # -- MQTT password
                # MQTT_PASSWORD:
                # -- Teslamate encryption key
                ENCRYPTION_KEY: "MySuperSecretEncryptionKey"
          teslamateapi:
            enabled: true
            name: teslamateapi
            image:
              repository: tobiasehlert/teslamateapi
              tag: 1.20.1
            env:
              TZ: UTC+3
              DATABASE_HOST: postgresql.postgresql.svc
              DATABASE_USER: postgres
              DATABASE_PASS: LSwXeNmwyFe5DsZ
              DATABASE_NAME: teslamate
              DISABLE_MQTT: "true"
              # MQTT_HOST: "{{ .Values.controllers.main.containers.main.MQTT_HOST }}"
              # -- MQTT username
              # MQTT_USERNAME:
              # -- MQTT password
              # MQTT_PASSWORD:
              ENCRYPTION_KEY: "MySuperSecretEncryptionKey"
          teslamateagile:
            enabled: true
            image:
              repository: mattjeanes/teslamateagile
              tag: v1.17.0
            env:
              TZ: UTC+3
              DATABASE_HOST: postgresql.postgresql.svc
              DATABASE_USER: postgres
              DATABASE_PASS: LSwXeNmwyFe5DsZ
              DATABASE_NAME: teslamate
              DISABLE_MQTT: "true"
              TeslaMate__UpdateIntervalSeconds: 300
              TeslaMate__GeofenceId: 1
              TeslaMate__EnergyProvider: Tibber
              Tibber__AccessToken: MyAccessToken
              TeslaMate__FeePerKilowattHour: 0
          teslamate-abrp:
            enabled: true
            image:
              repository: fetzu/teslamate-abrp
              tag: 3.1.0
            env:
              # MQTT_SERVER: "{{ .Values.controllers.main.containers.main.env.MQTT_HOST }}"
              # MQTT_PORT: '{{ .Values.controllers.main.containers.main.env.MQTT_PORT }}'
              # MQTT_PASSWORD: '{{ .Values.controllers.main.containers.main.env.MQTT_PASSWORD }}'
              # MQTT_USERNAME: '{{ .Values.controllers.main.containers.main.env.MQTT_USERNAME }}'
              CAR_NUMBER: 2
              CAR_MODEL: tesla:m3:24:bt37 #Tesla Model Y Longrange https://api.iternio.com/1/tlm/get_carmodels_list
              USER_TOKEN: y0ur-4p1-k3y
