---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
  labels:
    env: home
spec:
  interval: 5m
  chart:
    spec:
      chart: jellyfin
      version: 3.2.7
      sourceRef:
        kind: HelmRepository
        name: djjudas21
      interval: 10m0s
  valuesFrom:
  - name: values-jellyfin
    kind: ConfigMap
