---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  dependsOn:
  - name: minio
  interval: 5m
  releaseName: grafana
  chart:
    spec:
      chart: grafana
      version: 9.0.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: monitoring
  valuesFrom:
  - name: release-values
    kind: ConfigMap
