---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: teslamate
  namespace: teslamate
  labels:
    app: teslamate
    env: home
spec:
  replicas: 1
  selector:
    matchLabels:
      app: teslamate
  template:
    metadata:
      labels:
        app: teslamate
        env: home
    spec:
      volumes:
      - name: pg-root-ca
        secret:
          secretName: postgresql-shared-pg-cluster-ca-cert
      - name: teslamate-data
        persistentVolumeClaim:
          claimName: teslamate
      containers:
      - name: teslamate
        image: teslamate/teslamate:latest
        ports:
        - containerPort: 4000
        volumeMounts:
        - name: pg-root-ca
          mountPath: /etc/postgres-ca/root.crt
          subPath: root.crt
          readOnly: true
        - name: teslamate-data
          mountPath: /opt/app/import
        securityContext:
          capabilities:
            drop:
            - ALL
        env:
        - name: ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: data-teslamate
              key: encryption_key
        - name: MQTT_HOST
          value: "mosquitto"
        - name: DATABASE_HOST
          valueFrom:
            secretKeyRef:
              name: data-postgresql-shared-teslamate-teslamate
              key: host
        - name: DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: data-postgresql-shared-teslamate-teslamate
              key: dbname
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: data-postgresql-shared-teslamate-teslamate
              key: user
        - name: DATABASE_PASS
          valueFrom:
            secretKeyRef:
              name: data-postgresql-shared-teslamate-teslamate
              key: password
        - name: DATABASE_SSL
          value: "true"
        - name: DATABASE_SSLMODE
          value: require
        - name: DATABASE_SSL_CA_CERT_FILE
          value: /etc/postgres-ca/root.crt
