deploymentMode: SimpleScalable

loki:
  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
    - from: "2024-08-01"
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: loki_index_
        period: 24h
  ingester:
    chunk_encoding: snappy
  tracing:
    enabled: false
  querier:
    max_concurrent: 4

  auth_enabled: false

  limits_config:
    allow_structured_metadata: true
    reject_old_samples: true
    reject_old_samples_max_age: 168h
    max_query_series: 1000000
    max_query_parallelism: 4
    query_timeout: 45s

  storage:
    type: s3
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    s3:
      s3ForcePathStyle: true
      insecure: true
      endpoint: "${MINIO_SERVER_HOST}:${MINIO_SERVICE_PORT}"
      accessKeyId: "${MINIO_SERVER_ROOT_USER}"
      secretAccessKey: "${MINIO_SERVER_ROOT_PASSWORD}"

resultsCache:
  allocatedMemory: 512   # Defaults to 1024

chunksCache:
  allocatedMemory: 1500  # Defaults to 8192

backend:
  extraArgs:
  - '-config.expand-env=true'
  extraEnvFrom:
  - secretRef:
      name: auth-minio
  replicas: 1
  resources:
    requests:
      cpu: 0.2
      memory: 64Mi
    limits:
      cpu: 2
      memory: 512Mi

read:
  extraArgs:
  - '-config.expand-env=true'
  extraEnvFrom:
  - secretRef:
      name: auth-minio
  replicas: 1
  resources:
    requests:
      cpu: 0.2
      memory: 64Mi
    limits:
      cpu: 4
      memory: 2Gi

write:
  extraArgs:
  - '-config.expand-env=true'
  extraEnvFrom:
  - secretRef:
      name: auth-minio
  replicas: 1
  resources:
    requests:
      cpu: 0.1
      memory: 64Mi
    limits:
      cpu: 4
      memory: 1Gi

gateway:
  extraArgs:
  - '-config.expand-env=true'
  extraEnvFrom:
  - secretRef:
      name: auth-minio
  resources:
    requests:
      cpu: 0.1
      memory: 16Mi
    limits:
      cpu: 0.5
      memory: 64Mi

lokiCanary:
  enabled: false

test:
  enabled: false

# We don't want loki's built-in minio;
# as we have our own minio replicas.
minio:
  enabled: false

singleBinary:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
