---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: postgresql
  namespace: immich
  labels:
    env: home
spec:
  interval: 1m
  releaseName: postgresql
  chart:
    spec:
      chart: postgresql
      sourceRef:
        kind: HelmRepository
        name: bitnami
      reconcileStrategy: ChartVersion
      version: 16.6.2
      interval: 5m0s
  values:
    auth:
      database: immich
      existingSecret: postgresql-auth
      secretKeys:
        adminPasswordKey: postgres_password
    primary:
      persistence:
        enabled: true
        size: 10Gi
      containerSecurityContext:
        readOnlyRootFilesystem: false
      initdb:
        scripts:
          create-extensions.sql: |
            CREATE EXTENSION cube;
            CREATE EXTENSION earthdistance;
            CREATE EXTENSION vectors;
