---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: postgresql
  namespace: immich
  labels:
    env: home
spec:
  interval: 1m
  releaseName: postgresql
  chart:
    spec:
      chart: postgresql
      sourceRef:
        kind: HelmRepository
        name: cetic
      reconcileStrategy: ChartVersion
      version: 0.2.5
      interval: 5m0s
  values:
    image:
      tag: "16"
    postgresql:
      username: immich
      password: immich
      database: immich
    persistence:
      enabled: true
      accessModes: ["ReadWriteMany"]
      size: 5Gi
    # auth:
    #   database: immich
    #   existingSecret: postgresql-auth
    #   secretKeys:
    #     adminPasswordKey: postgres_password
    # primary:
    #   persistence:
    #     enabled: true
    #     size: 10Gi
    #   containerSecurityContext:
    #     readOnlyRootFilesystem: false
    #   initdb:
    #     scripts:
    #       create-extensions.sql: |
    #         CREATE EXTENSION cube;
    #         CREATE EXTENSION earthdistance;
    #         CREATE EXTENSION vectors;
