---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: immich
  namespace: immich
  labels:
    env: home
spec:
  interval: 1m0s
  url: https://immich-app.github.io/immich-charts
