---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-grafana-datasources
  namespace: monitoring
data:
  datasources.yaml: |
    apiVersion: 1
    prune: true

    datasources:
    - name: Loki
      type: loki
      uid: internal-loki
      url: http://grafana-loki-gateway.monitoring.svc:80
      access: proxy
      isDefault: true
      editable: false
      orgId: 1

    - name: Tempo
      type: tempo
      uid: internal-tempo
      url: http://grafana-tempo-query-frontend.monitoring.svc:3100
      access: proxy
      isDefault: false
      editable: true
      orgId: 1
      jsonData:
        search:
          filters:
          - id: service-name
            operator: "="
            scope: resource
            tag: service.name
          - id: span-name
            operator: "="
            scope: span
            tag: name
        nodeGraph:
          enabled: true
        streamingEnabled:
          search: false
        # serviceMap:
        #   datasourceUid: 
        # tracesToMetrics:
        #   datasourceUid: 
        #   queries: []
        tracesToLogsV2:
          datasourceUid: internal-loki
          customQuery: false
          query: ""
          filterByTraceID: true
          filterBySpanID: false
          spanStartTimeShift: "-15m"
          spanEndTimeShift: "15m"
          tags:
          - key: service.name
            value: app
