controller:
  replicas: 1
  type: deployment
  hostPID: true

alloy:
  resources:
    requests:
      cpu: 0.2
      memory: 256Mi
    limits:
      cpu: 4
      memory: 3Gi

  clustering:
    enabled: false

  securityContext:
    privileged: true

  extraPorts:
  - name: "otlp-grpc"
    protocol: "TCP"
    port: 4317
    targetPort: 4317
  - name: "otlp-http"
    protocol: "TCP"
    port: 4318
    targetPort: 4318

  stabilityLevel: "experimental"

  configMap:
    create: false
    name: config-grafana-alloy-pipelines
    key: alloy.yaml

  envFrom:
  - configMapRef:
      name: config-grafana-alloy
