---
apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: postgresql
  namespace: apps
  labels:
    app: postgresql
spec:
  teamId: "acid"
  numberOfInstances: 1
  users:
    teslamate:
    - login
    - superuser
    - createdb
    - createrole
  databases:
    teslamate: teslamate
  preparedDatabases:
    teslamate:
      defaultUsers: true
      extensions:
        pg_partman: public
        pgcrypto: public
      schemas:
        data: {}
        history:
          defaultRoles: true
          defaultUsers: true
  postgresql:
    version: "17"
    parameters:
      shared_buffers: "32MB"
      max_connections: "60"
      log_min_messages: "warning"
      log_min_error_statement: "error"
      log_statement: "none"
      log_destination: "stderr"
      logging_collector: "off"
  enableMasterLoadBalancer: false
  enableReplicaLoadBalancer: false
  enableConnectionPooler: false
  enableReplicaConnectionPooler: false
  enableMasterPoolerLoadBalancer: false
  enableReplicaPoolerLoadBalancer: false
  env:
  - name: PGPASSWORD_SUPERUSER
    value: "UEdQQVNTV09SRF9TVVBFUlVTRVIgLW4K"
  volume:
    size: 15Gi
  additionalVolumes:
  - name: empty
    mountPath: /opt/empty
    targetContainers:
      - all
    volumeSource:
      emptyDir: {}
  enableShmVolume: true
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      cpu: 500m
      memory: 500Mi
  patroni:
    failsafe_mode: false
    initdb:
      encoding: "UTF8"
      locale: "en_US.UTF-8"
      data-checksums: "true"
    pg_hba:
    - hostssl all all 0.0.0.0/0 md5
    - host    all all 0.0.0.0/0 md5
    ttl: 240
    loop_wait: 10
    retry_timeout: 10
    synchronous_mode: false
    synchronous_mode_strict: false
    synchronous_node_count: 1
    maximum_lag_on_failover: 33554432
  initContainers:
  - name: date
    image: busybox
    command: [ "/bin/date" ]
    certificateFile: "tls.crt"
    privateKeyFile: "tls.key"
    caFile: ""
    caSecretName: ""
