---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: auth-grafana-alloy
  namespace: monitoring
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: home-vault
    kind: ClusterSecretStore
  target:
    name: auth-grafana-alloy
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: home/monitoring/auth-grafana-alloy
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-alloy-otlp-token
  namespace: monitoring
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: home-vault
    kind: ClusterSecretStore
  target:
    name: grafana-alloy-otlp-token
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: home/monitoring/grafana-alloy-otlp-token
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
