

- name: home
  slug: home
  width: wide
  head-widgets:
  - type: monitor
    hide-header: true
    cache: 5s
    sites:
    - title: jellyfin
      url: https://watch.k8s.iaminyourpc.xyz
      icon: di:jellyfin
      timeout: 10s
    - title: immich
      url: https://photos.k8s.iaminyourpc.xyz
      icon: di:immich
      timeout: 10s
    - title: pihole
      url: http://pihole.k8s.iaminyourpc.xyz/admin
      icon: https://upload.wikimedia.org/wikipedia/commons/0/00/Pi-hole_Logo.png
      timeout: 10s
    - title: teslamate
      url: http://car.k8s.iaminyourpc.xyz
      icon: https://www.pngplay.com/wp-content/uploads/13/Tesla-Logo-PNG-Photo-Image.png
      timeout: 10s
      basic-auth:
        username: ${TESLAMATE_USER}
        password: ${TESLAMATE_PASSWORD}
  - type: group
    widgets:
    - type: monitor
      title: c/infra
      hide-header: true
      cache: 5s
      sites:
      - title: argocd
        url: https://argocd.k8s.iaminyourpc.xyz
        icon: https://icon.icepanel.io/Technology/svg/Argo-CD.svg
        timeout: 10s
      - title: vault
        url: https://vault.k8s.iaminyourpc.xyz
        icon: https://docs.rconfig.com/images/logos/vault-hashicorp-logo-920x920-sue-v1.png
        timeout: 10s
      - title: kubewall
        url: http://kube.k8s.iaminyourpc.xyz
        icon: https://img.icons8.com/color/200/kubernetes.png
        timeout: 10s
      - title: longhorn
        url: http://longhorn.k8s.iaminyourpc.xyz
        icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/longhorn.svg
        timeout: 10s
        basic-auth:
          username: ${LONGHORN_USER}
          password: ${LONGHORN_PASSWORD}
    - type: monitor
      title: c/monitoring
      hide-header: true
      cache: 5s
      sites:
      - title: grafana
        url: https://grafana.k8s.iaminyourpc.xyz
        icon: di:grafana
        timeout: 10s
      - title: alloy
        url: https://alloy.k8s.iaminyourpc.xyz
        icon: di:alloy
        timeout: 10s
        basic-auth:
          username: ${ALLOY_USER}
          password: ${ALLOY_PASSWORD}
      - title: loki
        check-url: http://loki-backend.monitoring.svc:3100/ready
        url: https://argocd.k8s.iaminyourpc.xyz/applications/argocd/grafana-loki?view=tree&resource=
        icon: di:loki
        timeout: 10s
      - title: tempo
        check-url: http://grafana-tempo-querier.monitoring.svc:3100/ready
        url: https://argocd.k8s.iaminyourpc.xyz/applications/argocd/grafana-tempo?view=tree&resource=
        icon: https://grafana.com/static/assets/img/blog/tempo.png
        timeout: 10s
      - title: victoriametrics
        check-url: http://victoriametrics-vmselect.monitoring.svc:8481/health
        url: https://argocd.k8s.iaminyourpc.xyz/applications/argocd/victoriametrics?view=tree&resource=
        icon: https://i.imgur.com/176vBRC.png
        timeout: 10s
      - title: minio
        url: https://minio.k8s.iadfaewminyourpc.xyz
        icon: di:minio
        timeout: 10s
  columns:
  - size: small
    widgets:
    - type: calendar
      hide-header: true
      first-day-of-week: monday
    - type: custom-api
      hide-header: true
      title: car
      cache: 5s
      url: http://fetch-api.fetch-api.svc:8069/grafana/car-info
      method: POST
      body: {"ai": false}
      template: |
        <style>
          :host {
            display: block;
            height: auto !important;
            padding: 0 !important;
          }
          
          .divider {
            width: 100%;
            height: 1px;
            background-color: rgba(255,255,255,0.03);
            margin: 6px 0;
          }

          .root-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            padding: 6px 0;
          }

          .left-side {
            display: flex;
            flex-direction: column;
            gap: 5px;
            min-width: 0;
          }

          .right-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6px;
            min-width: 40px;
          }

          .row {
            display: flex;
            align-items: center;
            gap: 6px;
            white-space: nowrap;
            font-weight: 600;
          }

          .title-header {
            font-size: 17px;
            font-weight: 600;
            color: rgba(230,230,230,0.9);
            text-transform: capitalize;
          }

          .title-text {
            font-size: 15px;
            color: rgba(200,200,200,0.55);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .title {
            font-size: 15.5px;
            font-weight: 550;
            color: rgba(230,230,230,0.9);
            text-transform: capitalize;
          }

          .text {
            font-size: 13px;
            color: rgba(200,200,200,0.55);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .title-right-icon img {
            width: 65px;
            height: 65px;
            object-fit: contain;
            opacity: 0.9;
          }

          .text-right-icon {
            width: 22px;
            height: 22px;
            -webkit-mask: url("https://i.imgur.com/xMUsMaq.png") no-repeat center;
            mask: url("https://i.imgur.com/xMUsMaq.png") no-repeat center;
            -webkit-mask-size: contain;
            mask-size: contain;
            background-color: var(--color-positive);
            position: relative;
            left: 7px;
          }
        </style>



        {{/* --- Vars --- */}}
        {{ $items := .JSON.Array "items" }}

        {{ $batteryObj := (index $items 0) }}
        {{ $battery_battery := ($batteryObj.Int "usable_battery_percentage") }}

        {{ $last_chargeObj := (index $items 1) }}
        {{ $last_charge_location := ($last_chargeObj.String "location") }}
        {{ $last_charge_charge_type := ($last_chargeObj.String "charge_type") }}
        {{ $last_charge_charge_energy_added_kwh := ($last_chargeObj.String "charge_energy_added_kwh") }}
        {{ $last_charge_last_charge_since := ($last_chargeObj.String "last_charge_since") }}
        {{ $last_charge_charge_energy_added_percentage := ($last_chargeObj.String "charge_energy_added_percentage") }}

        {{ $last_locationObj := (index $items 2) }}
        {{ $last_location_city := ($last_locationObj.String "city") }}
        {{ $last_location_address := ($last_locationObj.String "address") }}
        {{ $last_location_last_seen_since := ($last_locationObj.String "last_seen_since") }}

        {{ $stateObj := (index $items 3) }}
        {{ $state_state := ($stateObj.String "state") }}
        {{ $state_last_state_since := ($stateObj.String "last_state_since") }}

        {{ $consumptionObj := (index $items 4) }}
        {{ $consumption_average_consumption_wh_per_km := ($consumptionObj.String "average_consumption_wh_per_km") }}


        {{ $color := "var(--color-positive)" }}
        {{ if lt $battery_battery 40 }}{{ $color = "var(--color-warning)" }}{{ end }}
        {{ if lt $battery_battery 15 }}{{ $color = "var(--color-negative)" }}{{ end }}
        {{/* --- End Vars --- */}}





        <div class="root-row">
          <div class="left-side">
            <div class="title-header">{{ $state_state }}</div>
            <div class="title-text">{{ $state_last_state_since }}</div>
          </div>

          <div class="right-side">
            <div class="row" style="color: {{ $color }}">
              <div class="title-right-icon">
                <img src="https://i.imgur.com/oLmdiWK.png" alt="Model 3" />
              </div>
            </div>
          </div>
        </div>


        <div class="divider"></div>


        <div class="root-row">
          <div class="left-side">
            <div class="title">{{ $battery_battery }}%</div>
          </div>

          <div class="right-side">
            <div class="row" style="color: {{ $color }}">
              <div class="text-right-icon" style="background-color: {{ $color }}"></div>
            </div>
          </div>
        </div>
        





    - type: monitor
      hide-header: true
      cache: 5s
      sites:
      - title: jellyfin
        url: https://watch.k8s.iaminyourpc.xyz
        icon: di:jellyfin
        timeout: 10s
      - title: immich
        url: https://photos.k8s.iaminyourpc.xyz
        icon: di:immich
        timeout: 10s
      - title: pihole
        url: http://pihole.k8s.iaminyourpc.xyz/admin
        icon: https://upload.wikimedia.org/wikipedia/commons/0/00/Pi-hole_Logo.png
        timeout: 10s
      - title: teslamate
        url: http://car.k8s.iaminyourpc.xyz
        icon: https://www.pngplay.com/wp-content/uploads/13/Tesla-Logo-PNG-Photo-Image.png
        timeout: 10s
        basic-auth:
          username: ${TESLAMATE_USER}
          password: ${TESLAMATE_PASSWORD}
  - size: full
    widgets:
    - type: videos
      channels:
      - UCXuqSBlHAE6Xw-yeJA0Tunw
      - UCR-DXc1voovS8nhAvccRZhg
      - UCsBjURrPoezykLs9EqgamOA
      - UCBJycsmduvYEL83R_U4JriQ
      - UCHnyfMqiRRG1u-2MsSQLbXA
      # - UC32IO5KC2hDjFoeHzlil3gA
    - type: group
      widgets:
      - type: reddit
        subreddit: technology
        show-thumbnails: true
      - type: reddit
        subreddit: selfhosted
        show-thumbnails: true
  - size: small
    widgets:
    - type: weather
      hide-header: true
      location: Sofia, Bulgaria
      units: metric
      hour-format: 24h
