

- name: Home
  slug: home
  width: default
  head-widgets:
    - type: monitor
      hide-header: true
      sites:
        - title: Jellyfin
          url: https://watch.k8s.iaminyourpc.xyz
          icon: di:jellyfin
          timeout: 10s
        - title: Immich
          url: https://photos.k8s.iaminyourpc.xyz
          icon: di:immich
          timeout: 10s
        - title: PiHole
          url: http://pihole.k8s.iaminyourpc.xyz/admin
          icon: https://upload.wikimedia.org/wikipedia/commons/0/00/Pi-hole_Logo.png
          timeout: 10s
        - title: Teslamate
          url: http://car.k8s.iaminyourpc.xyz
          icon: https://www.pngplay.com/wp-content/uploads/13/Tesla-Logo-PNG-Photo-Image.png
          timeout: 10s
          basic-auth:
            username: ${TESLAMATE_USER}
            password: ${TESLAMATE_PASSWORD}
  columns:
    - size: small
      widgets:
        - type: calendar
          first-day-of-week: monday
        - type: rss
          limit: 10
          collapse-after: 3
          cache: 12h
          feeds:
            - url: https://selfh.st/rss/
              title: selfh.st
            - url: https://ciechanow.ski/atom.xml
            - url: https://www.joshwcomeau.com/rss.xml
              title: Josh Comeau
            - url: https://samwho.dev/rss.xml
            - url: https://ishadeed.com/feed.xml
              title: Ahmad Shadeed
        - type: twitch-channels
          channels:
            - theprimeagen
            - j_blow
            - giantwaffle
            - cohhcarnage
            - christitustech
            - EJ_SA
    - size: full
      widgets:
        - type: group
          widgets:
            - type: hacker-news
            - type: lobsters
            - type: twitch-channels
              channels:
                - theprimeagen
                - j_blow
                - giantwaffle
        - type: videos
          channels:
            - UCXuqSBlHAE6Xw-yeJA0Tunw
            - UCR-DXc1voovS8nhAvccRZhg
            - UCsBjURrPoezykLs9EqgamOA
            - UCBJycsmduvYEL83R_U4JriQ
            - UCHnyfMqiRRG1u-2MsSQLbXA
        - type: group
          widgets:
            - type: reddit
              subreddit: technology
              show-thumbnails: true
            - type: reddit
              subreddit: selfhosted
              show-thumbnails: true
    - size: small
      widgets:
        - type: weather
          location: Sofia, Bulgaria
          units: metric
          hour-format: 24h
        - type: markets
          markets:
            - symbol: SPY
              name: S&P 500
            - symbol: BTC-USD
              name: Bitcoin
            - symbol: NVDA
              name: NVIDIA
            - symbol: AAPL
              name: Apple
            - symbol: MSFT
              name: Microsoft
        - type: releases
          cache: 1d
          repositories:
            - glanceapp/glance
            - go-gitea/gitea
            - immich-app/immich
            - syncthing/syncthing
