

- name: Home
  slug: home
  width: default
  head-widgets:
  - type: search
    hide-header: true
    search-engine: google
    placeholder: "Dankata nqma sredno"
    bangs:
      - title: YouTube
        shortcut: ".yt"
        url: https://www.youtube.com/results?search_query={QUERY}
  columns:
    - size: small
      widgets:
        - type: repository
          repository: dragon699/home-k8s
          pull-requests-limit: 1
          issues-limit: 1
          commits-limit: 3
          token: ${GITHUB_PAT}
        - type: calendar
          first-day-of-week: monday
        - type: twitch-channels
          channels:
            - chiefgyk3d
            - theprimeagen
            - j_blow
            - giantwaffle
            - cohhcarnage
            - christitustech
            - EJ_SA
    - size: full
      widgets:
        - type: videos
          channels:
            - UCXuqSBlHAE6Xw-yeJA0Tunw
            - UCR-DXc1voovS8nhAvccRZhg
            - UCsBjURrPoezykLs9EqgamOA
            - UCBJycsmduvYEL83R_U4JriQ
            - UCHnyfMqiRRG1u-2MsSQLbXA
        - type: group
          widgets:
            - type: reddit
              subreddit: technology
              show-thumbnails: true
            - type: reddit
              subreddit: selfhosted
              show-thumbnails: true
    - size: small
      widgets:
        - type: weather
          location: Sofia, Bulgaria
          units: metric
          hour-format: 24h
        - type: monitor
          sites:
            - title: Jellyfin
              url: https://watch.k8s.iaminyourpc.xyz
              icon: di:jellyfin
              timeout: 10s
            - title: Immich
              url: https://photos.k8s.iaminyourpc.xyz
              icon: di:immich
              timeout: 10s
            - title: PiHole
              url: http://pihole.k8s.iaminyourpc.xyz/admin
              icon: https://upload.wikimedia.org/wikipedia/commons/0/00/Pi-hole_Logo.png
              timeout: 10s
            - title: Teslamate
              url: http://car.k8s.iaminyourpc.xyz
              icon: https://www.pngplay.com/wp-content/uploads/13/Tesla-Logo-PNG-Photo-Image.png
              timeout: 10s
              basic-auth:
                username: ${TESLAMATE_USER}
                password: ${TESLAMATE_PASSWORD}
            - title: Kubewall
              url: http://kube.k8s.iaminyourpc.xyz
              icon: https://img.icons8.com/color/200/kubernetes.png
              timeout: 10s
