---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-grafana-alloy
  namespace: monitoring
data:
  alloy.yaml: |-
    // Configuration
  
    logging {
      level  = "warn"
      format = "logfmt"
    }

    livedebugging {
      enabled = true
    }

    // Data pipelines


    //////////////////////////////////////////////
    // Collect logs from kubernetes pods
    //////////////////////////////////////////////

    // Discover pods
    discovery.kubernetes "home_pods" {
      role            = "pod"
    }

    // [1] Aggregate logs
    discovery.relabel "home_logs" {
      targets         = discovery.kubernetes.home_pods.targets

      rule {
        source_labels = ["__meta_kubernetes_namespace"]
        action        = "replace"
        target_label  = "namespace"
      }

      rule {
        source_labels = ["__meta_kubernetes_pod_name"]
        action        = "replace"
        target_label  = "pod"
      }

      rule {
        source_labels = ["__meta_kubernetes_pod_container_name"]
        action        = "replace"
        target_label  = "container"
      }

      rule {
        source_labels = ["__meta_kubernetes_pod_label_app_kubernetes_io_name"]
        action        = "replace"
        target_label  = "app"
      }

      rule {
        source_labels = ["__meta_kubernetes_namespace", "__meta_kubernetes_pod_container_name"]
        action        = "replace"
        target_label  = "job"
        separator     = "/"
        replacement   = "$1"
      }

      rule {
        source_labels = ["__meta_kubernetes_pod_uid", "__meta_kubernetes_pod_container_name"]
        action        = "replace"
        target_label  = "__path__"
        separator     = "/"
        replacement   = "/var/log/pods/*$1/*.log"
      }

      rule {
        source_labels = ["__meta_kubernetes_pod_container_id"]
        action        = "replace"
        target_label  = "container_runtime"
        regex         = "^(\\S+):\\/\\/.+$"
        replacement   = "$1"
      }
    }

    // Tail logs
    loki.source.kubernetes "home_logs" {
      targets         = discovery.relabel.home_logs.output
      forward_to      = [loki.process.home_logs.receiver]
    }

    // [2] Aggregate logs
    loki.process "home_logs" {
      stage.static_labels {
        values        = {
          "cluster"   = "home-k8s",
          "source"    = "kubernetes-logs",
        }
      }

      forward_to      = [loki.write.home_logs.receiver]
    }

    // Write logs to Loki
    loki.write "home_logs" {
      endpoint {
        url           = "http://grafana-loki-gateway.monitoring.svc/loki/api/v1/push"
      }
    }

    //////////////////////////////////////////////



    //////////////////////////////////////////////
    // Collect metrics and traces from kubernetes pods
    //////////////////////////////////////////////

    // Auto-instrument metrics and traces using Beyla
    beyla.ebpf "home_discovery" {
      discovery {
        services {
          kubernetes {
            namespace              = "ingress-nginx|metallb-system|shared|immich|teslamate|hostfabtech"
            deployment_name        = "."
          }
        }

        exclude_services {
          kubernetes {
            namespace              = "kube-system|kubernetes-dashboard|k0s-autopilot|flux-system"
            deployment_name        = "pg-operator|secret-mirrors-controller-manager|grafana"
          }
        }
      }

      attributes {
        kubernetes {
          enable                   = "true"
          cluster_name             = "home-k8s"
        }
      }

      metrics {
        features = [
          "application",
          "application_process",
          "application_service_graph",
          "application_span",
          "network",
        ]
      }

      ebpf {
        track_request_headers      = true
        enable_context_propagation = true
        high_request_volume        = true
        heuristic_sql_detect       = true
      }

      output {
        traces                     = [otelcol.processor.batch.home_traces.input]
      }
    }

    // Batch traces
    otelcol.processor.batch "home_traces" {
      output {
        traces                     = [
          otelcol.exporter.otlphttp.home_traces.input,
    //      otelcol.connector.servicegraph.home_metrics.input,
    //      otelcol.connector.spanmetrics.home_metrics.input,
        ]
      }
    }

    // Write traces to Tempo
    otelcol.exporter.otlphttp "home_traces" {
      client {
        endpoint                   = "http://grafana-tempo-distributor.monitoring.svc:4318"

        tls {
          insecure                 = true
          insecure_skip_verify     = true
        }
      }
    }

    //    // Generate service graph metrics from traces
    //    otelcol.connector.servicegraph "home_metrics" {
    //      dimensions = [
    //        "http.method",
    //        "http.route",
    //        "http.request.method",
    //        "http.target",
    //        "http.response.status_code",
    //        "url.path",
    //        "url.full",
    //        "server.address",
    //        "client.address",
    //        "db.system.name",
    //        "db.collection.name",
    //        "db.operation.name",
    //        "k8s.cluster.name",
    //        "k8s.node.name",
    //        "k8s.namespace.name",
    //        "k8s.replicaset.name",
    //        "k8s.deployment.name",
    //        "k8s.pod.name",
    //        "k8s.container.name",
    //        "service.name",
    //        "service.instance.id",
    //      ]
    //
    //      database_name_attribute      = "db.system.name"
    //
    //      output {
    //        metrics                    = [otelcol.processor.filter.home_metrics.input]
    //      }
    //    }
    //
    //    // Generate span metrics from traces
    //    otelcol.connector.spanmetrics "home_metrics" {
    //      dimension {
    //        name                       = "http.method"
    //        default                    = "GET"
    //      }
    //
    //      dimension {
    //        name                       = "http.request.method"
    //        default                    = "GET"
    //      }
    //
    //      dimension { name = "http.method" }
    //      dimension { name = "http.route" }
    //      dimension { name = "http.request.method" }
    //      dimension { name = "http.target" }
    //      dimension { name = "http.response.status_code" }
    //      dimension { name = "url.path" }
    //      dimension { name = "url.full" }
    //      dimension { name = "server.address" }
    //      dimension { name = "client.address" }
    //      dimension { name = "db.system.name" }
    //      dimension { name = "db.collection.name" }
    //      dimension { name = "db.operation.name" }
    //      dimension { name = "k8s.cluster.name" }
    //      dimension { name = "k8s.node.name" }
    //      dimension { name = "k8s.namespace.name" }
    //      dimension { name = "k8s.replicaset.name" }
    //      dimension { name = "k8s.deployment.name" }
    //      dimension { name = "k8s.pod.name" }
    //      dimension { name = "k8s.container.name" }
    //      dimension { name = "service.name" }
    //      dimension { name = "service.instance.id" }
    //
    //      histogram {
    //        explicit {
    //          buckets                  = ["50ms", "100ms", "250ms", "1s", "5s", "10s"]
    //        }
    //      }
    //
    //      output {
    //        metrics                    = [otelcol.processor.batch.home_metrics.input]
    //      }
    //    }
    //
    //    // Aggregate service graph metrics
    //    otelcol.processor.filter "home_metrics" {
    //      error_mode                   = "ignore"
    //
    //      metrics {
    //        datapoint = [
    //          `attributes["server"] == "unknown"`,
    //          `attributes["client"] == "user" and not IsMatch(attributes["server"], ".*nginx.*")`,
    //        ]
    //      }
    //
    //      output {
    //        metrics                    = [otelcol.processor.batch.home_metrics.input]
    //      }
    //    }

    // Scrape metrics from Beyla
    prometheus.scrape "home_metrics" {
      targets                      = beyla.ebpf.home_discovery.targets
      honor_labels                 = true
      forward_to                   = [prometheus.remote_write.home_metrics.receiver]
    }

    // Batch span and service graph metrics
    //    otelcol.processor.batch "home_metrics" {
    //      output {
    //        metrics                    = [otelcol.exporter.prometheus.home_metrics.input]
    //      }
    //    }
    //
    //    // Convert span and service graph metrics from OTLP to Prometheus-based format
    //    otelcol.exporter.prometheus "home_metrics" {
    //      forward_to                   = [prometheus.remote_write.home_metrics.receiver]
    //    }

    // Write metrics to VictoriaMetrics
    prometheus.remote_write "home_metrics" {
      endpoint {
        url                        = "http://victoriametrics-vminsert.monitoring.svc:8480/insert/0/prometheus/api/v1/write"
      }
    }

    //////////////////////////////////////////////
