---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-alloy
  namespace: monitoring
spec:
  dependsOn:
  - name: minio
  interval: 5m
  chart:
    spec:
      chart: alloy
      version: 1.1.1
      sourceRef:
        kind: HelmRepository
        name: grafana
      interval: 5m0s
  valuesFrom:
  - name: values-grafana-alloy
    kind: ConfigMap
