vmselect:
  resources:
    requests:
      cpu: 0.1
      memory: 128Mi
    limits:
      cpu: 2
      memory: 2Gi

vminsert:
  resources:
    requests:
      cpu: 0.1
      memory: 128Mi
    limits:
      cpu: 2
      memory: 1Gi
  extraArgs:
  - '--maxLabelsPerTimeseries=200'

vmstorage:
  resources:
    requests:
      cpu: 0.1
      memory: 128Mi
    limits:
      cpu: 2
      memory: 2Gi
  persistence:
    enabled: true
    size: 20Gi

vmagent:
  resources:
    requests:
      cpu: 0.2
      memory: 256Mi
    limits:
      cpu: 4
      memory: 4Gi
  extraArgs:
  - '--maxLabelsPerTimeseries=200'
  existingScrapeConfigMap: config-victoriametrics-jobs

vmauth:
  enabled: false

vmalert:
  enabled: false
