---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: teslamate
  namespace: teslamate
  labels:
    app: teslamate
    env: home
spec:
  replicas: 1
  selector:
    matchLabels:
      app: teslamate
  template:
    metadata:
      labels:
        app: teslamate
        env: home
    spec:
      volumes:
      - name: teslamate-data
        persistentVolumeClaim:
          claimName: teslamate
      containers:
      - name: teslamate
        image: teslamate/teslamate:latest
        ports:
        - containerPort: 4000
        volumeMounts:
        - name: teslamate-data
          mountPath: /opt/app/import
        securityContext:
          capabilities:
            drop:
            - ALL
        env:
        - name: ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: data-teslamate
              key: encryption_key
        - name: MQTT_HOST
          value: "mosquitto.apps.svc"
        - name: DATABASE_HOST
          valueFrom:
            secretKeyRef:
              name: data-postgresql-shared-teslamate-teslamate
              key: pgbouncer-host
        - name: DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: data-postgresql-shared-teslamate-teslamate
              key: dbname
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: data-postgresql-shared-teslamate-teslamate
              key: user
        - name: DATABASE_PASS
          valueFrom:
            secretKeyRef:
              name: data-postgresql-shared-teslamate-teslamate
              key: password
