---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
  labels:
    env: home
spec:
  interval: 1m
  releaseName: immich
  chart:
    spec:
      chart: immich
      sourceRef:
        kind: HelmRepository
        name: immich
      reconcileStrategy: ChartVersion
      version: 0.9.2
      interval: 5m0s
  values:
    postgresql:
      enabled: true
    immich:
      persistence:
        library:
          existingClaim: immich-photos
        configuration:
          trash:
            enabled: true
            days: 14
    server:
      enabled: true
      ingress:
        main:
          enabled: true
          hosts:
          - host: immich.home.k8s
    machine-learning:
      enabled: true
      persistence:
        cache:
          enabled: true
          size: 15Gi
          storageClass: longhorn
