---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-state-metrics
  namespace: monitoring
spec:
  dependsOn:
  - name: minio
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: kube-state-metrics
    namespace: monitoring
