---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: prometheus-node-exporter
  namespace: monitoring
spec:
  dependsOn:
  - name: minio
  interval: 5m
  chart:
    spec:
      chart: prometheus-node-exporter
      version: 4.46.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: monitoring
  values:
    resources:
      requests:
        cpu: 0.1
        memory: 16Mi
      limits:
        cpu: 0.5
        memory: 128Mi

    extraArgs:
    - --collector.disable-defaults
    - --collector.cpu
    - --collector.diskstats
    - --collector.filesystem
    - --collector.loadavg
    - --collector.meminfo
    - --collector.vmstat
    - --collector.netdev
    - --collector.processes
