---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-node-exporter
  namespace: monitoring
spec:
  dependsOn:
  - name: minio
  interval: 5m
  chart:
    spec:
      chart: prometheus-node-exporter
      version: 4.46.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
      interval: 5m0s
  valuesFrom:
  - name: values-prometheus-node-exporter
    kind: ConfigMap
